{% extends 'base.html.twig' %}

{% block title %}User Quizzes!{% endblock %}

{% block body %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Take a quiz</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            {% for quiz in quizzes %}
                <li><a class="dropdown-item" href="{{ path('take-quiz', {quiz: quiz.id }) }}"> {{ quiz.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <h1>List of user quizzes</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Quiz</th>
            <th scope="col">Status</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
        </tr>
        </thead>
        <tbody>
        {% for userQuiz in userQuizzes %}
            {% set userQuizStatus = userQuiz.status.value %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ userQuiz.id }}</td>
                <td>{{ userQuiz.quiz.title }}</td>
                <td>
                    {% if userQuizStatus == 'queued' %}
                        <i class="bi bi-hourglass text-warning"></i>
                        <span class="text-warning">{{ userQuizStatus | capitalize }}</span>
                    {% elseif userQuizStatus == 'started' %}
                        <i class="bi bi-play-fill text-primary"></i>
                        <span class="text-primary">{{ userQuizStatus | capitalize }}</span>
                    {% elseif userQuizStatus == 'finished' %}
                        <i class="bi bi-check-lg text-success"></i>
                        <span class="text-success">{{ userQuizStatus | capitalize }}</span>
                    {% endif %}
                </td>
                <td>{{ userQuiz.createdAt | date('d.m.Y H:i:s') }}</td>
                <td>{{ userQuiz.updatedAt | date('d.m.Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
