{% extends 'base.html.twig' %}

{% block title %} {{ userQuiz.quiz.title }} | Answer to the questions {% endblock %}

{% block body %}
    <h2 class="my-4">{{ userQuiz.quiz.title }}</h2>
    <p>Answer all the quiz questions. Note that each question may have one or multiple correct answers. After completing all the questions, click the Submit button to check the quiz results.</p>
    <div class="row">
        <div class="col-sm-6">
            <form action="{{ path('submit-quiz', {'userQuiz': userQuiz.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to submit the quiz?');">
                {% set shuffledQuestions = quizWithQuestions.questions.values|shuffle %}
                {% for question in shuffledQuestions %}
                    <div class="card mb-4 question">
                        <div class="card-header">
                            <h3 class="question-title">{{ question.title }}</h3>
                        </div>
                        <div class="card-body">
                            {% set shuffledAnswers = question.answers.values|shuffle %}
                            {% for answer in shuffledAnswers %}
                                <div class="form-check">
                                    <input class="form-check-input answer-checkbox" type="checkbox" name="answers[{{ question.id }}][]" value="{{ answer.id }}" id="answer_{{ answer.id }}">
                                    <label class="form-check-label" for="answer_{{ answer.id }}">
                                        {{ answer.title }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}